asyncpg~=0.25.0
starlette~=0.40.0
uvicorn~=0.18.2
requests~=2.32.2
python-dotenv~=0.20.0
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability