{% extends "base.jinja2" %}

{% block title %}400 - Haruka's Aleo Explorer{% endblock %}

{% block content %}

    <div class="content">
        <h1>400</h1>
        <p>can't really understand what you are trying to do here</p>
        <pre>{{ exc.detail }}</pre>
    </div>

    <script>document.addEventListener('DOMContentLoaded', function () { plausible('400', { props: { path: document.location.pathname } }); });</script>

{% endblock %}