{% extends "base.jinja2" %}

{% block title %}Address {{ address_trunc }} - Haruka's Aleo Explorer{% endblock %}

{% block head %}
    <style>

        #data {
            margin: 20px 4px;
        }
        
        .note {
            font-size: 0.75rem;
            color: #999;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="content">

        <div id="header">
            <h3>Address {{ address_trunc }}</h3>
        </div>


        <div id="data">
            <h4>Overview</h4>
            <data-line>
                <span slot="title">Address</span>
                <span slot="content"><span class="mono">{{ address }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Total phase 2 rewards (not incentivized)</span>
                <span slot="content">{{ total_rewards | format_aleo_credit }}</span>
            </data-line>
            <data-line>
                <span slot="title">Total solutions found</span>
                <span slot="content">{{ total_solutions }}</span>
            </data-line>
            <data-line>
                <span slot="title">Estimated speed</span>
                <span slot="content">
                    {% if speed != 0 %}
                    {{ speed }} <span data-tooltip title='commitments per second, also known as "p/s" or "s/s"'>c/s</span> (last {{ timespan }})
                    {% else %}
                    Not enough solutions during last day
                    {% endif %}
                </span>
            </data-line>
        </div>

        <div id="solutions">
            <h4>Accepted solutions</h4>
            <table class="unstriped">
                <thead>
                <tr>
                    <th>Block</th>
                    <th>Epoch</th>
                    <th>Timestamp</th>
                    <th>Nonce</th>
                    <th>Target / Total</th>
                    <th>Reward</th>
                </tr>
                </thead>
                <tbody>
                {% for solution in solutions %}
                    <tr>
                        <td><a href="/block?h={{ solution.height }}">{{ solution.height }}</a></td>
                        <td>{{ solution.height // 256 }}</td>
                        <td>{{ solution.timestamp | format_time | safe }}</td>
                        <td>{{ solution.nonce }}</td>
                        <td>{{ solution.target }}<span class="note"> / {{ solution.target_sum }}</span></td>
                        <td>{{ solution.reward | format_aleo_credit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if total_solutions > 30 %}
            <a href="/address_solution?a={{ address }}">Show all accepted solutions</a>
            {% endif %}
        </div>

    </div>

{% endblock %}