{% extends "base.jinja2" %}

{% block title %}Address {{ address_trunc }} - Haruka's Aleo Explorer{% endblock %}

{% from "macros.jinja2" import data_line, data_line_safe %}

{% block content %}

{% include "htmx/address.jinja2" %}

{% endblock %}