{% extends "base.jinja2" %}

{% block title %}{{ type }} {{ id_trunc }} - Haruka's Aleo Explorer{% endblock %}

{% from "macros.jinja2" import data_line, sub_data_line %}

{% block content %}

    <div class="content">
        <div class="header">
            <h3>{{ type }} {{ id_trunc }}</h3>
        </div>

        <div id="data">
        {% call data_line(type) %}
            <span class="mono">{{ id }}</span>
        {% endcall %}
        {% for title, content in data.items() %}
            {% if content is mapping %}
            {% call data_line(title) %}
            {% endcall %}
            {% for sub_title, sub_content in content.items() %}
                {% call sub_data_line(sub_title) %}
                <span class="mono">{{ sub_content | safe }}</span>
                {% endcall %}
            {% endfor %}
            {% else %}
                {% call data_line(title) %}
                <span class="mono">{{ content | safe }}</span>
                {% endcall %}
            {% endif %}
        {% endfor %}
        </div>

    </div>

{% endblock %}