<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {#    <style>#}
    {#        body {#}
    {#            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";#}
    {#            line-height: 1.35;#}
    {#        }#}
    {#    </style>#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
          crossorigin="anonymous">
    <style>
        .footer {
            max-width: 80%;
            margin: auto;
            padding: 8px;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<div class="footer">
    Footer!
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js"
        crossorigin="anonymous"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>