{% extends "base.jinja2" %}

{% block title %}Blocks - Haruka's Aleo Explorer{% endblock %}

{% block head %}
    <style>

    </style>
{% endblock %}

{% from "macros.jinja2" import nav %}

{% block content %}

    <div class="content">

        <div id="header">
            <h3>Blocks</h3>
        </div>

        <div id="blocks">

            {{ nav(page, total_pages, "/blocks?") }}

            <table class="unstriped">
                <thead>
                <tr>
                    <th>Height</th>
                    <th>Epoch</th>
                    <th>Timestamp</th>
                    <th>Transactions</th>
                    <th>Proof target</th>
                    <th>Coinbase target</th>
                    <th>Coinbase rewards</th>
                    <th>Coinbase solutions</th>
                    <th>Validator</th>
                </tr>
                </thead>
                <tbody>
                {% for block in blocks %}
                    <tr>
                        <td><a href="/block?h={{ block.height }}">{{ block.height }}</a></td>
                        <td>{{ block.height // 256 }}</td>
                        <td>{{ block.timestamp | format_time | safe }}</td>
                        <td>{{ block.transaction_count }}</td>
                        <td>{{ block.proof_target }}</td>
                        <td>{{ block.coinbase_target }}</td>
                        <td>{% if block.coinbase_reward %}{{ ((block.coinbase_reward | int) // 2) | format_aleo_credit }}{% else %}-{% endif %}</td>
                        <td>{% if block.coinbase_reward %}{{ block.partial_solution_count }}{% else %}-{% endif %}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ nav(page, total_pages, "/blocks?") }}

        </div>
    </div>

{% endblock %}