{% extends "base.jinja2" %}

{% block title %}FAQ - Haruka's Aleo Explorer{% endblock %}

{% block head %}
    <style>
    .content {
        font-size: 1rem;
    }
    </style>
{% endblock %}

{% block content %}

    <div class="content">

        <div class="header">
            <h3>FAQ</h3>
        </div>

        <h4>I can't find my address</h4>
        <p>This usually means your address hasn't publicly appeared on the blockchain. An address would be logged when:</p>
        <ul>
            <li>A prover submits a valid coinbase puzzle solution with the address</li>
            <li>(more to come when the network has more features)</li>
        </ul>
        <p>The explorer could only track what's included in the blocks, so if your address hasn't interacted with the blockchain in the above situations, you won't find it in the explorer.</p>
        <br>

        <h4>What exactly is "c/s"?</h4>
        <p>If the
            <span data-tooltip title='commitments per second, also known as "p/s" or "s/s"'>tooltip</span> can't satisfy you:
        </p>
        <p>
            When solving a coinbase puzzle, the prover is actually grinding KZG10 commitments (you can read more about KZG10
            <a href="https://taoa.io/posts/Understanding-KZG10-Polynomial-Commitments" target="_blank">here</a>). In the complete scheme
            of KZG10 PCS, the prover would generate a commitment, then a proof of the evaluation. However, as the hashed
            value of the commitment is used to check if a solution is valid, the prover will skip the proof generation
            if the commitment doesn't satisfy the network requirement, and will continue to try the next nonce value.
            This is why the explorer is using "c/s" to represent the computing power of the address.
        </p>
        <p>
            "p/s" was "invented" during testnet2, as at that time the miners were grinding Marlin proofs instead. "s/s"
            simply means "solutions per second" (which is also correct if you take "solutions" as "partial solutions").
            Those units are also being used by different provers and websites, but they all should represent the same
            thing.
        </p>
        <br>

        <h4>I'm blocked by the website</h4>
        <p>
            You are encouraged to run an explorer instance yourself if you want to get the info programatically. I will
            monitor the website and ban any client which shows automatic behavior.
        </p>
        <p>
            Block decisions are final.
        </p>

    </div>

{% endblock %}