{% extends "base.jinja2" %}

{% block title %}Haruka's Aleo Explorer{% endblock %}

{% block head %}
    <style>

        #ticker {
            margin-top: 20px;
        }

        #recent-blocks {
            margin-top: 20px;
        }

        .ticker-cell-content {
            height: 64px;
            margin: 8px 0;
        }

        .ticker-cell-data {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
        }

        .tooltip {
            max-width: 250px;
        }

        .has-tip {
            height: 20px;
        }

        .timestamp-font-size {
            font-size: 1.35rem;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="content">

        <div class="callout primary">
            Very WIP version, many parts are not working yet.
        </div>

        <div id="ticker">
            <div class="grid-x grid-padding-x">
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Latest block</div>
                        <div class="cell auto ticker-cell-data">{{ latest_block.header.metadata.height }}</div>
                    </div>
                </div>
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Current epoch</div>
                        <div class="cell auto ticker-cell-data">{{ latest_block.get_epoch_number() }}</div>
                    </div>
                </div>
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Timestamp</div>
                        <div class="cell auto ticker-cell-data timestamp-font-size">{{ latest_block.header.metadata.timestamp | format_time }}</div>
                    </div>
                </div>
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Proof target</div>
                        <div class="cell auto ticker-cell-data">{{ latest_block.header.metadata.proof_target }}</div>
                    </div>
                </div>
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Coinbase target</div>
                        <div class="cell auto ticker-cell-data">{{ latest_block.header.metadata.coinbase_target }}</div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
            </div>
        </div>

        <div id="recent-blocks">
            <h4>Recent Blocks</h4>
            <table class="unstriped">
                <thead>
                <tr>
                    <th>Height</th>
                    <th>Timestamp</th>
                    <th>Transactions</th>
                    <th>Proof target</th>
                    <th>Coinbase target</th>
                    <th>Coinbase rewards</th>
                    <th>Coinbase solutions</th>
                    <th>Validator</th>
                </tr>
                </thead>
                <tbody>
                {% for block in recent_blocks %}
                    <tr>
                        <td><a href="/block?h={{ block.height }}">{{ block.height }}</a></td>
                        <td>{{ block.timestamp | format_time }}</td>
                        <td>{{ block.transactions }}</td>
                        <td>{{ block.proof_target }}</td>
                        <td>{{ block.coinbase_target }}</td>
                        <td>{{ block.coinbase_rewards | format_aleo_credit }}</td>
                        <td>{{ block.coinbase_solutions }}</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}