{% extends "base.jinja2" %}

{% block title %}Blocks - Haruka's Aleo Explorer{% endblock %}

{% block head %}
    <style>

    </style>
{% endblock %}

{% block content %}

    <div class="content">

        <div id="header">
            <h3>Blocks</h3>
        </div>

        <div id="blocks">

            <nav>
                <ul class="pagination">
                    <li class="pagination-previous{% if page == 1 %} disabled{% endif %}">{% if page != 1 %}<a href="/leaderboard?p={{ page - 1 }}"></a>{% endif %}</li>
                    {% for p in range(1, ([total_pages, 4] | min)) %}
                        <li{% if p == page %} class="current"{% endif %}>{% if p != page %}<a href="/leaderboard?p={{ p }}">{% endif %}{{ p }}{% if p != page %}</a>{% endif %}</li>
                    {% endfor %}
                    {% if page > 7 %}
                        <li class="ellipsis" aria-hidden="true"></li>
                    {% endif %}
                    {% for p in range(([4, page - 3] | max), page) %}
                        <li><a href="/leaderboard?p={{ p }}">{{ p }}</a></li>
                    {% endfor %}
                    {% if page > 3 %}
                        <li class="current">{{ page }}</li>
                    {% endif %}
                    {% for p in range([4, page + 1] | max, [page + 4, total_pages] | min) %}
                        <li><a href="/leaderboard?p={{ p }}">{{ p }}</a></li>
                    {% endfor %}
                    {% if page < total_pages - 4 %}
                        <li class="ellipsis" aria-hidden="true"></li>
                    {% endif %}
                    {% if page < total_pages %}
                        <li><a href="/leaderboard?p={{ total_pages }}">{{ total_pages }}</a></li>
                    {% endif %}
                    <li class="pagination-next{% if page == total_pages %} disabled{% endif %}">{% if page != total_pages %}<a href="/leaderboard?p={{ page + 1 }}"></a>{% endif %}</li>
                </ul>
            </nav>

            <table class="unstriped">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Address</th>
                    <th>Total rewards</th>
                </tr>
                </thead>
                <tbody>
                {% for line in leaderboard %}
                    <tr>
                        <td>{{ loop.index + (page - 1) * 50 }}</td>
                        <td class="mono"><a href="/address?a={{ line.address }}">{{ line.address }}</a></td>
                        <td>{{ line.total_rewards | format_aleo_credit }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}