{% extends "base.jinja2" %}

{% block title %}Leaderboard - Haruka's Aleo Explorer{% endblock %}

{% block head %}
    <style>

    </style>
{% endblock %}

{% from "macros.jinja2" import nav %}

{% block content %}

    <div class="content">

        <div id="header">
            <h3>Leaderboard</h3>
        </div>

        <div class="callout alert">
            The network is <em>NOT INCENTIVIZED</em> at this moment. The leaderboard below carries no value. <br>
            Only use it to confirm that your node is running correctly.
        </div>

        <div id="blocks">

            {{ nav(page, total_pages, "/leaderboard?") }}

            <table class="unstriped">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Address</th>
                    <th>Total rewards</th>
                </tr>
                </thead>
                <tbody>
                {% for line in leaderboard %}
                    <tr>
                        <td>{{ loop.index + (page - 1) * 50 }}</td>
                        <td class="mono"><a href="/address?a={{ line.address }}">{{ line.address }}</a></td>
                        <td>{{ line.total_rewards | format_aleo_credit }}</td></tr>
                {% endfor %}
                </tbody>
            </table>

            {{ nav(page, total_pages, "/leaderboard?") }}

        </div>
    </div>

{% endblock %}