{% macro nav(page, total_pages, link_template) %}
<nav>
    <ul class="pagination" hx-boost="true" hx-target="#htmx-body" hx-swap="innerHTML show:no" hx-push-url="true">
        <li class="pagination-previous{% if page == 1 %} disabled{% endif %}">{% if page != 1 %}<a href="{{ link_template }}p={{ page - 1 }}"></a>{% endif %}</li>
        {% for p in range(1, ([total_pages, 4] | min)) %}
            <li{% if p == page %} class="current"{% endif %}>{% if p != page %}<a href="{{ link_template }}p={{ p }}">{% endif %}{{ p }}{% if p != page %}</a>{% endif %}</li>
        {% endfor %}
        {% if page > 7 %}
            <li class="ellipsis" aria-hidden="true"></li>
        {% endif %}
        {% for p in range(([4, page - 3] | max), page) %}
            <li><a href="{{ link_template }}p={{ p }}">{{ p }}</a></li>
        {% endfor %}
        {% if page > 3 or page == total_pages %}
            <li class="current">{{ page }}</li>
        {% endif %}
        {% for p in range([4, page + 1] | max, [page + 4, total_pages] | min) %}
            <li><a href="{{ link_template }}p={{ p }}">{{ p }}</a></li>
        {% endfor %}
        {% if page < total_pages - 4 %}
            <li class="ellipsis" aria-hidden="true"></li>
        {% endif %}
        {% if page < total_pages %}
            <li><a href="{{ link_template }}p={{ total_pages }}">{{ total_pages }}</a></li>
        {% endif %}
        <li class="pagination-next{% if page == total_pages %} disabled{% endif %}">{% if page != total_pages %}<a href="{{ link_template }}p={{ page + 1 }}"></a>{% endif %}</li>
    </ul>
{% if "&" not in link_template %}
    <form id="goto" action={{ link_template }}>
        <div class="input-group">
            <input class="input-group-field" type="number" name="p" placeholder="">
            <div class="input-group-button">
                <button type="submit" class="button">Go</button>
            </div>
        </div>
    </form>
{% endif %}
</nav>
{%- endmacro %}

{% macro data_line_safe(title) %}
    <div class="data-line grid-x grid-padding-x">
        <div class="cell small-3 block-data-line-label">
            {{ title | safe }}
        </div>
        <div class="cell auto data-line-value">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}

{% macro data_line(title, additional="") %}
    <div class="data-line grid-x grid-padding-x">
        <div class="cell small-3 block-data-line-label">
            {{ title }} {{ additional | safe }}
        </div>
        <div class="cell auto data-line-value">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}

{% macro sub_data_line_safe(title) %}
    <div class="sub-data-line grid-x grid-padding-x">
        <div class="cell small-3 block-data-line-label">
            {{ title | safe }}
        </div>
        <div class="cell auto data-line-value">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}

{% macro sub_data_line(title) %}
    <div class="sub-data-line grid-x grid-padding-x">
        <div class="cell small-3 block-data-line-label">
            {{ title }}
        </div>
        <div class="cell auto data-line-value">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}

{% macro state_label(state) %}
    <span class="label {% if state == 'Accepted' %}success{% elif state == "Rejected" or state == "Aborted" %}alert{% else %}secondary{% endif %}">{{ state }}</span>
{% endmacro %}

{% macro state_label_with_reason(state, reason) %}
    {{ state_label(state) }}{% if state == "Rejected" %} {{ reason }}{% endif %}
{% endmacro %}

{% macro htmx_title(request, title) %}
<script>
    {% if request.htmx.is_htmx() %}
        document.title = "{{ title | safe }} - Aleoscan - Aleo Blockchain Explorer"
    {% endif %}
</script>
{% endmacro %}

{% macro sync_notice(sync_info) %}
{% if sync_info is defined and sync_info.out_of_sync %}
    <div class="content">
        <div class="callout alert global-banner">
            {% if sync_info.maintenance_info %}
                The explorer is out of sync: {{ sync_info.maintenance_info }}
            {% else %}
                The explorer is out of sync. The last synced block is {{ sync_info.relative_time }}.
            {% endif %}
            Current block height: explorer: {{ sync_info.explorer_height }} / node: {{ sync_info.node_height }} / ref: {{ sync_info.reference_height }}
            <a href="https://status.aleoscan.io/">Status Page</a>
        </div>
    </div>
{% else %}
    <!-- indicator for health check -->
    <span style="display: none">in_sync</span>
{% endif %}
{% endmacro %}

{% macro UIAddress(uia) %}
{% if uia.logo %}
    <img src="/static/thirdparty/{{ uia.logo }}" alt="{{ uia.tag }}" class="validator-logo">
{% endif %}
{% if uia.tag %}
    {{ uia.tag }}
{% elif uia.ans %}
    {{ uia.ans }}
{% else %}
    {{ uia.address }}
{% endif %}
{% if uia.link %}
    <a href="{{ uia.link }}" target="_blank" class="fa fa-link validator-link"></a>
{% endif %}
{% endmacro %}