{% macro nav(page, total_pages, link_template) %}
<nav>
    <ul class="pagination">
        <li class="pagination-previous{% if page == 1 %} disabled{% endif %}">{% if page != 1 %}<a href="{{ link_template }}p={{ page - 1 }}"></a>{% endif %}</li>
        {% for p in range(1, ([total_pages, 4] | min)) %}
            <li{% if p == page %} class="current"{% endif %}>{% if p != page %}<a href="{{ link_template }}p={{ p }}">{% endif %}{{ p }}{% if p != page %}</a>{% endif %}</li>
        {% endfor %}
        {% if page > 7 %}
            <li class="ellipsis" aria-hidden="true"></li>
        {% endif %}
        {% for p in range(([4, page - 3] | max), page) %}
            <li><a href="{{ link_template }}p={{ p }}">{{ p }}</a></li>
        {% endfor %}
        {% if page > 3 or page == total_pages %}
            <li class="current">{{ page }}</li>
        {% endif %}
        {% for p in range([4, page + 1] | max, [page + 4, total_pages] | min) %}
            <li><a href="{{ link_template }}p={{ p }}">{{ p }}</a></li>
        {% endfor %}
        {% if page < total_pages - 4 %}
            <li class="ellipsis" aria-hidden="true"></li>
        {% endif %}
        {% if page < total_pages %}
            <li><a href="{{ link_template }}p={{ total_pages }}">{{ total_pages }}</a></li>
        {% endif %}
        <li class="pagination-next{% if page == total_pages %} disabled{% endif %}">{% if page != total_pages %}<a href="{{ link_template }}p={{ page + 1 }}"></a>{% endif %}</li>
    </ul>
{% if "&" not in link_template %}
    <form id="goto" action={{ link_template }}>
        <div class="input-group">
            <input class="input-group-field" type="number" name="p" placeholder="">
            <div class="input-group-button">
                <button type="submit" class="button">Go</button>
            </div>
        </div>
    </form>
{% endif %}
</nav>
{%- endmacro %}