{% extends "base.jinja2" %}

{% block title %}Nodes - Haruka's Aleo Explorer{% endblock %}

{% block head %}
    <style>
        table {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="content">

        <div class="header">
            <h3>Connected nodes: {{ nodes | length }}</h3>
            <em>Note: only contains nodes that accept incoming connections</em>
        </div>

        <table class="unstriped">
            <thead>
            <tr>
                <th>IP address</th>
                <th>Type</th>
                <th>Address</th>
                <th>Height</th>
                <th>Last update</th>
            </tr>
            </thead>
            <tbody>
            {% for address, node in nodes.items() %}
                <tr>
                    <td>{{ address }}</td>
                    <td>{{ node.node_type }}</td>
                    <td><span class="mono">{{ node.address }}</span></td>
                    <td>{% if node.height is not none %}{{ node.height }}{% else %}-{% endif %}</td>
                    <td>{{ node.last_ping }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}