{% extends "base.jinja2" %}

{% block title %}Program {{ program_id }} - Haruka's Aleo Explorer{% endblock %}

{% block head %}

    <style>

        #data {
            margin: 20px 4px;
        }

        .text-alert {
            color: #cc4b37;
        }

        pre {
            background-color: #f8f8f8;
            padding: 10px;
            overflow-y: scroll;
            max-height: 800px;
        }

        .tabs {
            margin-top: 20px;
        }

        .tabs-title > a {
            font-size: 0.9em;
            padding: 0.75rem;
        }

    </style>

{% endblock %}

{% from "macros.jinja2" import data_line, data_line_safe, state_label %}

{% block content %}

    <div class="content">
        <div class="header">
            <h3>Program {{ program_id }}</h3>
        </div>

        <div id="data">
            {% call data_line("Program ID") %}
                <span class="mono">{{ program_id }}</span>
            {% endcall %}
            {% call data_line("Deployment transaction") %}
                <span class="mono"><a href="/transaction?id={{ transaction_id }}">{{ transaction_id }}</a></span>
            {% endcall %}
            {% call data_line("Program owner") %}
                <span class="mono"><a href="/address?a={{ owner }}">{{ owner }}</a></span>
            {% endcall %}
            {% call data_line("Owner signature") %}
                <span class="mono">{{ signature }}</span>
            {% endcall %}
            {% call data_line("Times called") %}
                {{ times_called }}
            {% endcall %}
            {% call data_line("Similar programs") %}
                {% if similar_count == 0 %}
                    0
                {% else %}
                    <a href="/similar_programs?id={{ program_id }}">{{ similar_count }}</a>
                {% endif %}
            {% endcall %}

            <ul class="tabs" data-tabs id="program-tabs">
                <li class="tabs-title is-active"><a href="#structure">Program structure</a></li>
                <li class="tabs-title"><a href="#transitions">Recent calls</a></li>
                <li class="tabs-title"><a href="#source">Source code</a></li>
                <li class="tabs-title"><a href="#read">Read mappings</a></li>
                <li class="tabs-title"><a href="#execute">Execute transitions</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="program-tabs">
                <div class="tabs-panel is-active" id="structure">
                    {% call data_line("Imports") %}
                        <span class="mono">
                    {% if imports %}
                        {% for import in imports %}
                            {% if import | string != "credits.aleo" %}
                                <a href="/program?id={{ import }}">{{ import }}</a><br>
                            {% else %}
                                {{ import }}<br>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                    {% endcall %}
                    {% call data_line("Mappings") %}
                        <span class="mono">
                    {% if mappings %}
                        {% for mapping in mappings %}
                            {{ mapping }}<br>
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                    {% endcall %}
                    {% call data_line("Structs") %}
                        <span class="mono">
                    {% if structs %}
                        {% for struct in structs %}
                            {{ struct }}<br>
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                    {% endcall %}
                    {% call data_line("Records") %}
                        <span class="mono">
                    {% if records %}
                        {% for record in records %}
                            {{ record }}<br>
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                    {% endcall %}
                    {% call data_line("Functions") %}
                        <span class="mono">
                    {% if closures %}
                        {% for function in closures %}
                            {{ function }}<br>
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                    </span>
                    {% endcall %}
                    {% call data_line("Transitions") %}
                        <span class="mono">
                    {% for transition in functions %}
                        {{ transition }}<br>
                    {% endfor %}
                    </span>
                    {% endcall %}
                </div>

                <div class="tabs-panel" id="source">
                    {% if has_leo_source %}
                        <h6>Program Source Code (Leo)</h6>
                    {% else %}
                        <h6>Program Source Code (Aleo Instruction)</h6>
                        <a href="/upload_source?id={{ program_id }}">Upload Leo source</a>
                    {% endif %}
                    <pre>{{ source }}</pre>
                </div>

                <div class="tabs-panel" id="transitions">
                    <table id="transitions-table" class="unstriped">
                        <thead>
                        <tr>
                            <td>Block height</td>
                            <td>Timestamp</td>
                            <td>Transition ID</td>
                            <td>Function call</td>
                            <td>State</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for call in recent_calls %}
                            <tr>
                                <td><a href="/block?h={{ call.height }}">{{ call.height | format_number | safe }}</a></td>
                                <td>{{ call.timestamp | format_time | safe }}</td>
                                <td><span class="mono"><a href="/transition?id={{ call.transition_id }}">{{ call.transition_id }}</a></span></td>
                                <td><span class="mono">{{ call.function_name }}</span></td>
                                <td>{{ state_label(call.type.rstrip("Execute")) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tabs-panel" id="read">
                    <h6>Not implemented</h6>
                </div>

                <div class="tabs-panel" id="execute">
                    <h6>Not implemented</h6>
                </div>
            </div>

        </div>
    </div>

{% endblock %}