{% extends "base.jinja2" %}

{% block title %}Program {{ program_id }} - Haruka's Aleo Explorer{% endblock %}

{% block head %}

    <style>

        #data {
            margin: 20px 4px;
        }

        #transitions, #structure {
            margin-top: 20px;
        }

        .text-alert {
            color: #cc4b37;
        }

        pre {
            overflow-y: scroll;
            max-height: 400px;
        }

    </style>

{% endblock %}

{% from "macros.jinja2" import data_line, data_line_safe, state_label %}

{% block content %}

    <div class="content">
        <div class="header">
            <h3>Program {{ program_id }}</h3>
        </div>

        <div id="data">
            {% call data_line("Program ID") %}
                <span class="mono">{{ program_id }}</span>
            {% endcall %}
            {% call data_line("Deployment transaction") %}
                <span class="mono"><a href="/transaction?id={{ transaction_id }}">{{ transaction_id }}</a></span>
            {% endcall %}
            {% call data_line("Program owner") %}
                <span class="mono"><a href="/address?a={{ owner }}">{{ owner }}</a></span>
            {% endcall %}
            {% call data_line("Owner signature") %}
                <span class="mono">{{ signature }}</span>
            {% endcall %}
            {% call data_line("Times called") %}
                {{ times_called }}
            {% endcall %}
            {% call data_line("Similar programs") %}
                {% if similar_count == 0 %}
                    0
                {% else %}
                    <a href="/similar_programs?id={{ program_id }}">{{ similar_count }}</a>
                {% endif %}
            {% endcall %}

            <div id="structure">
                <h5>Program Structure</h5>
                {% call data_line("Imports") %}
                    <span class="mono">
                {% if imports %}
                    {% for import in imports %}
                        {% if import | string != "credits.aleo" %}
                            <a href="/program?id={{ import }}">{{ import }}</a><br>
                        {% else %}
                            {{ import }}<br>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </span>
                {% endcall %}
                {% call data_line("Mappings") %}
                    <span class="mono">
                {% if mappings %}
                    {% for mapping in mappings %}
                        {{ mapping }}<br>
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </span>
                {% endcall %}
                {% call data_line("Structs") %}
                    <span class="mono">
                {% if structs %}
                    {% for struct in structs %}
                        {{ struct }}<br>
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </span>
                {% endcall %}
                {% call data_line("Records") %}
                    <span class="mono">
                {% if records %}
                    {% for record in records %}
                        {{ record }}<br>
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </span>
                {% endcall %}
                {% call data_line("Functions") %}
                    <span class="mono">
                {% if closures %}
                    {% for function in closures %}
                        {{ function }}<br>
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </span>
                {% endcall %}
                {% call data_line("Transitions") %}
                    <span class="mono">
                {% for transition in functions %}
                    {{ transition }}<br>
                {% endfor %}
                </span>
                {% endcall %}
                {% if has_leo_source %}
                    {% call data_line("Source code (Leo)") %}
                        <pre>{{ source }}</pre>
                    {% endcall %}
                {% else %}
                    {% call data_line_safe('Source code (Aleo instructions)<br><a href="/upload_source?id=' + program_id + '">Upload Leo source</a>') %}
                        <pre>{{ source }}</pre>
                    {% endcall %}
                {% endif %}
            </div>

            <div id="transitions">
                <h4>Recent calls</h4>
                <table id="transitions-table" class="unstriped">
                    <thead>
                    <tr>
                        <td>Block height</td>
                        <td>Timestamp</td>
                        <td>Transition ID</td>
                        <td>Function call</td>
                        <td>State</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for call in recent_calls %}
                        <tr>
                            <td><a href="/block?h={{ call.height }}">{{ call.height | format_number | safe }}</a></td>
                            <td>{{ call.timestamp | format_time | safe }}</td>
                            <td><span class="mono"><a href="/transition?id={{ call.transition_id }}">{{ call.transition_id }}</a></span></td>
                            <td><span class="mono">{{ call.function_name }}</span></td>
                            <td>{{ state_label(call.type.rstrip("Execute")) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}