{% extends "base.jinja2" %}

{% block title %}Privacy Policy - Haruka's Aleo Explorer{% endblock %}

{% block head %}
    <style>
    </style>
{% endblock %}

{% block content %}

    <div class="content">

    <h2>Page unavailable</h2>

        <p>
            This page was triggered automatically at 2022-12-02 00:00 UTC.
        </p>
        <p>
            I was not able to update the explorer in time before the incentivized period starts, and this page now
            contains outdated / wrong info. In order to not mislead anyone, I have disabled this page for now.
        </p>
        <p>
            I will try to get the explorer back up and running as soon as possible. The explorer might need to resync
            to recalculate the related values for the incentivized period.
        </p>

    </div>

{% endblock %}