{% extends "base.jinja2" %}

{% block title %}Transaction {{ tx_id_trunc }} - Haruka's Aleo Explorer{% endblock %}

{% block head %}

    <style>

        #data {
            margin: 20px 4px;
        }

        .text-alert {
            color: #cc4b37;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="content">
        <div class="header">
            <h3>Transaction {{ tx_id_trunc }}</h3>
        </div>

        <div id="data">
            <data-line>
                <span slot="title">Transaction ID</span>
                <span slot="content"><span class="mono">{{ tx_id }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Block</span>
                <span slot="content"><a href="/block?h={{ block.header.metadata.height }}">{{ block.header.metadata.height }}</a></span>
            </data-line>
            <data-line>
                <span slot="title">Inner circuit ID</span>
                <span slot="content"><span class="mono">{{ transaction.inner_circuit_id }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Ledger root</span>
                <span slot="content"><span class="mono">{{ transaction.ledger_root }}</span></span>
            </data-line>
        </div>

        <div id="transitions">
            <h4>Transitions</h4>
            <table id="transitions-table">
                <thead>
                <tr>
                    <td>Transition ID</td>
                    <td>Value balance</td>
                    <td>Events</td>
                </tr>
                </thead>
                <tbody>
                {% for transition in transaction.transitions %}
                    <tr>
                        <td>
                            <span class="mono"><a href="/transition?id={{ transition.transition_id }}">{{ transition.transition_id }}</a></span>
                        </td>
                        <td>{{ "%.6f" % transition.value_balance.credit() }}</td>
                        <td>{{ transition.events | length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}