{% extends "base.jinja2" %}

{% block title %}Transaction {{ tx_id_trunc }} - Haruka's Aleo Explorer{% endblock %}

{% block head %}

    <style>

        #data {
            margin: 20px 4px;
        }

        #transitions, #rejected-transitions {
            margin-top: 20px;
        }

        .text-alert {
            color: #cc4b37;
        }

    </style>

{% endblock %}

{% from "macros.jinja2" import data_line, state_label %}

{% block content %}

    <div class="content">
        <div class="header">
            <h3>Transaction {{ tx_id_trunc }}</h3>
        </div>

        <div id="data">
            {% call data_line("Transaction ID") %}
                <span class="mono">{{ tx_id }}</span>
            {% endcall %}
            {% call data_line("Block") %}
                <a href="/block?h={{ block.header.metadata.height }}">{{ block.header.metadata.height }}</a>
            {% endcall %}
            {% call data_line("Index") %}
                {{ index }}
            {% endcall %}
            {% call data_line("Type") %}
                {{ type }}
            {% endcall %}
            {% call data_line("State") %}
                {{ state_label(state) }}
            {% endcall %}
            {% if type == "Execute" %}
                {% call data_line("Global state root") %}
                <span class="mono">{{ global_state_root }}</span>
                {% endcall %}
                {% call data_line("Inclusion proof") %}
                    {% if inclusion_proof %}
                        <advanced-link scope="transaction" object="{{ tx_id }}" type="inclusion_proof">
                            <span class="mono">{{ inclusion_proof_trunc }}</span>
                        </advanced-link>
                    {% else %}
                        -
                    {% endif %}
                {% endcall %}
            {% elif type == "Deploy" %}
                {% call data_line("Edition") %}
                    {{ edition }}
                {% endcall %}
                {% call data_line("Deployed program ID") %}
                    <a href="/program?id={{ program_id }}"><span class="mono">{{ program_id }}</span></a>
                {% endcall %}
            {% endif %}
            {% call data_line("Total fee") %}
                {{ total_fee | format_aleo_credit }} Aleo credits
            {% endcall %}
        </div>

        <div id="transitions">
            <h4>{% if type == "Deploy" %}Fee transition{% else %}Transitions{% endif %}</h4>
            <table id="transitions-table" class="unstriped">
                <thead>
                <tr>
                    <td>Transition ID</td>
                    <td>Program / Function call</td>
                </tr>
                </thead>
                <tbody>
                {% for transition in transitions %}
                    <tr>
                        <td>
                            <span class="mono"><a href="/transition?id={{ transition.transition_id }}">{{ transition.transition_id }}</a></span>
                        </td>
                        <td><span class="mono">{{ transition.action }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if state == "Rejected" %}
            <div id="rejected-transitions">
                <h4>Rejected Transitions</h4>
                <table id="transitions-table" class="unstriped">
                    <thead>
                    <tr>
                        <td>Transition ID</td>
                        <td>Program / Function call</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transition in rejected_transitions %}
                        <tr>
                            <td>
                                <span class="mono"><a href="/transition?id={{ transition.transition_id }}">{{ transition.transition_id }}</a></span>
                            </td>
                            <td><span class="mono">{{ transition.action }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}


    </div>

{% endblock %}