{% extends "base.jinja2" %}

{% block title %}Transition {{ ts_id_trunc }} - Haruka's Aleo Explorer{% endblock %}

{% block head %}

    <style>

        .data {
            margin: 20px 4px;
        }

        .data-line {
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
        }

        .data-line-value {
            overflow-wrap: break-word;
        }

        .text-alert {
            color: #cc4b37;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="content">
        <div class="header">
            <h3>Transition {{ ts_id_trunc }}</h3>
        </div>

        <div class="data">
            <data-line>
                <span slot="title">Transition ID</span>
                <span slot="content"><span class="mono">{{ ts_id }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Transaction</span>
                <span slot="content"><span class="mono"><a href="/transaction?id={{ transaction_id }}">{{ transaction_id }}</a></span></span>
            </data-line>
            <data-line>
                <span slot="title">Program ID</span>
                <span slot="content"><span class="mono">{{ program_id }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Function name</span>
                <span slot="content"><span class="mono">{{ function_name }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Transition public key</span>
                <span slot="content"><span class="mono">{{ tpk }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Transition commitment</span>
                <span slot="content"><span class="mono">{{ tcm }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Fee</span>
                <span slot="content">{{ fee | format_aleo_credit }} Aleo credit</span>
            </data-line>
            <data-line>
                <span slot="title">Proof</span>
                <span slot="content"><span class="mono">{{ proof }}</span></span>
            </data-line>
        </div>

        <div class="data">
            <h4>Function call</h4>
            <data-line>
                <span slot="title">Function signature</span>
                <span slot="content"><span class="mono">{{ function_signature }}</span></span>
            </data-line>
            <br>
        {% for input in inputs %}
            <h5>Input #{{ loop.index }}</h5>
            <data-line>
                <span slot="title">Type</span>
                <span slot="content">{{ input.type }} <span class="mono">{{ function_definition[0][loop.index0] }}</span></span>
            </data-line>
        {% if input.type == "Private" %}
            <data-line>
                <span slot="title">Ciphertext hash</span>
                <span slot="content"><span class="mono">{{ input.ciphertext_hash }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Ciphertext</span>
                <span slot="content"><span class="mono">{{ input.ciphertext }}</span></span>
            </data-line>
        {% elif input.type == "Record" %}
            <data-line>
                <span slot="title">Serial number</span>
                <span slot="content"><span class="mono">{{ input.serial_number }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Tag</span>
                <span slot="content"><span class="mono">{{ input.tag }}</span></span>
            </data-line>
        {% endif %}
            <br>
        {% endfor %}
        {% for output in outputs %}
            <h5>Output #{{ loop.index }}</h5>
            <data-line>
                <span slot="title">Type</span>
                <span slot="content">{{ output.type }} <span class="mono">{{ function_definition[1][loop.index0] }}</span></span>
            </data-line>
        {% if output.type == "Record" %}
            <data-line>
                <span slot="title">Commitment</span>
                <span slot="content"><span class="mono">{{ output.commitment }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Checksum</span>
                <span slot="content"><span class="mono">{{ output.checksum }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Record ciphertext</span>
                <span slot="content"><span class="mono">{{ output.ciphertext }}</span></span>
            </data-line>
        {% endif %}
            <br>
        {% endfor %}
        </div>

    </div>

{% endblock %}