{% extends "base.jinja2" %}

{% block title %}Transition {{ ts_id_trunc }} - Haruka's Aleo Explorer{% endblock %}

{% block head %}

    <style>

        .data {
            margin: 20px 4px;
        }


    </style>

{% endblock %}

{% block content %}

    <div class="content">
        <div class="header">
            <h3>Transition {{ ts_id_trunc }}</h3>
        </div>

        <div class="data">
            <data-line>
                <span slot="title">Transition ID</span>
                <span slot="content"><span class="mono">{{ ts_id }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Transaction</span>
                <span slot="content"><span class="mono"><a href="/transaction?id={{ transaction_id }}">{{ transaction_id }}</a></span></span>
            </data-line>
            <data-line>
                <span slot="title">Program ID</span>
                <span slot="content"><span class="mono">{{ program_id }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Function name</span>
                <span slot="content"><span class="mono">{{ function_name }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Transition public key</span>
                <span slot="content"><span class="mono">{{ tpk }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Transition commitment</span>
                <span slot="content"><span class="mono">{{ tcm }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Fee</span>
                <span slot="content">{{ fee | format_aleo_credit }} Aleo credit</span>
            </data-line>
            <data-line>
                <span slot="title">Proof</span>
                <span slot="content">
                    <advanced-link scope="transition" object="{{ ts_id }}" type="proof">
                        <span class="mono">{{ proof }}</span>
                    </advanced-link>
                </span>
            </data-line>
        </div>

        <div class="data">
            <h4>Function call</h4>
            <data-line>
                <span slot="title">Function signature</span>
                <span slot="content"><span class="mono">{{ function_signature }}</span></span>
            </data-line>
            <br>
        {% for input in inputs %}
            <h5>Input #{{ loop.index }}</h5>
            <data-line>
                <span slot="title">Type</span>
                <span slot="content">{{ input.type }} <span class="mono">{{ function_definition[0][loop.index0] }}</span></span>
            </data-line>
        {% if input.type == "Private" %}
            <data-line>
                <span slot="title">Ciphertext hash</span>
                <span slot="content"><span class="mono">{{ input.ciphertext_hash }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Ciphertext</span>
                <span slot="content">
                    <advanced-link scope="transition" object="{{ ts_id }}" type="input_private" index="{{ loop.index0 }}">
                        <span class="mono">{{ input.ciphertext }}</span>
                    </advanced-link>
                </span>
            </data-line>
        {% elif input.type == "Record" %}
            <data-line>
                <span slot="title">Serial number</span>
                <span slot="content"><span class="mono">{{ input.serial_number }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Tag</span>
                <span slot="content"><span class="mono">{{ input.tag }}</span></span>
            </data-line>
        {% endif %}
            <br>
        {% endfor %}
        {% for output in outputs %}
            {% set outer_loop = loop %}
            <h5>Output #{{ loop.index }}</h5>
            <data-line>
                <span slot="title">Type</span>
                <span slot="content">{{ output.type }} <span class="mono">{{ function_definition[1][loop.index0] }}</span></span>
            </data-line>
        {% if output.type == "Record" %}
            <data-line>
                <span slot="title">Commitment</span>
                <span slot="content"><span class="mono">{{ output.commitment }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Checksum</span>
                <span slot="content"><span class="mono">{{ output.checksum }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Record data</span>
                <span slot="content"><span class="mono">{{ output.record }}</span></span>
            </data-line>
            <sub-data-line>
                <span slot="title"><span class="mono">owner</span></span>
                <span slot="content">
                    <advanced-link scope="transition" object="{{ ts_id }}" type="output_record" index="{{ loop.index0 }}" field="owner">
                        <span class="mono">{{ output.record_data.owner }}</span>
                    </advanced-link>
                </span>
            </sub-data-line>
            <sub-data-line>
                <span slot="title"><span class="mono">gates</span></span>
                <span slot="content">
                    <advanced-link scope="transition" object="{{ ts_id }}" type="output_record" index="{{ loop.index0 }}" field="gates">
                        <span class="mono">{{ output.record_data.gates }}</span>
                    </advanced-link>
                </span>
            </sub-data-line>
            {% for identifier, entry in output.record_data.data %}
            <sub-data-line>
                <span slot="title"><span class="mono">{{ identifier }}</span></span>
                <span slot="content">
                    <advanced-link scope="transition" object="{{ ts_id }}" type="output_record" index="{{ outer_loop.index0 }}" field="{{ identifier }}">
                        <span class="mono">{{ entry }}</span>
                    </advanced-link>
                </span>
            </sub-data-line>
            {% endfor %}
        {% endif %}
            <br>
        {% endfor %}
        </div>

    </div>

{#    <script src="static/leo_wallet.js"></script>#}
{% endblock %}