{% extends "base.jinja2" %}

{% block title %}Transaction {{ tx_id_trunc }} - Haruka's Aleo Explorer{% endblock %}

{% block head %}

    <style>

        #data {
            margin: 20px 4px;
        }

        .text-alert {
            color: #cc4b37;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="content">
        <div class="header">
            <h3>Transaction {{ tx_id_trunc }}</h3>
        </div>

        <div id="data">
            <data-line>
                <span slot="title">Transaction ID</span>
                <span slot="content"><span class="mono">{{ tx_id }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Block</span>
                <span slot="content"><a href="/block?h={{ block.header.metadata.height }}">{{ block.header.metadata.height }}</a></span>
            </data-line>
            <data-line>
                <span slot="title">Type</span>
                <span slot="content">{{ type }}</span>
            </data-line>
        {% if type == "Execute" %}
            <data-line>
                <span slot="title">Global state root</span>
                <span slot="content"><span class="mono">{{ global_state_root }}</span></span>
            </data-line>
            <data-line>
                <span slot="title">Inclusion proof</span>
                <span slot="content">
                {% if inclusion_proof %}
                    <advanced-link scope="transaction" object="{{ tx_id }}" type="inclusion_proof">
                        <span class="mono">{{ inclusion_proof }}</span>
                    </advanced-link>
                {% else %}
                    -
                {% endif %}
                </span>
            </data-line>
        {% elif type == "Deploy" %}
        {% endif %}
            <data-line>
                <span slot="title">Total fee</span>
                <span slot="content">{{ total_fee | format_aleo_credit }} Aleo credits</span>
            </data-line>
        </div>

    {% if type == "Execute" %}
        <div id="transitions">
            <h4>Transitions</h4>
            <table id="transitions-table">
                <thead>
                <tr>
                    <td>Transition ID</td>
                    <td>Program / Function call</td>
                    <td>Fee</td>
                </tr>
                </thead>
                <tbody>
                {% for transition in transitions %}
                    <tr>
                        <td>
                            <span class="mono"><a href="/transition?id={{ transition.transition_id }}">{{ transition.transition_id }}</a></span>
                        </td>
                        <td><span class="mono">{{ transition.action }}</span></td>
                        <td>{{ transition.fee | format_aleo_credit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% elif type == "Deploy" %}
        TODO
    {% endif %}
    </div>

{% endblock %}