{% extends "base.jinja2" %}

{% block title %}Upload source - Haruka's Aleo Explorer{% endblock %}

{% block head %}

    <style>

        textarea {
            font-family: monospace;
            height: 400px;
        }

        .mono-only {
            font-family: monospace;
        }

    </style>

{% endblock %}

{% block content %}

<div class="content">

    <div class="header">
        <h3>Upload source code for program <span class="mono-only">{{ program_id }}</span></h3>
    </div>

    {% if has_leo_source %}
        <div class="callout warning">
            The source code has already been uploaded for this program.
        </div>
    {% elif unsupported_import %}
        <div class="callout warning">
           Programs with imports other than <span class="mono">credits.aleo</span> are not supported yet.
        </div>
    {% else %}
        {% if message %}
            <div class="callout warning">
                {{ message }}
            </div>
        {% endif %}
        <form action="/submit_source" method="post">
            <label>Leo source code (<span class="mono">main.leo</span>):
                <textarea name="source">{{ source }}</textarea>
            </label>
            <input type="hidden" name="id" value="{{ program_id }}">
            {% for import in imports %}
                <input type="hidden" name="imports[]" value="{{ import }}">
                {# expand this to textareas in the future #}
                <input type="hidden" name="import_programs[]" value="">
            {% endfor %}
            <button type="submit" class="button">Submit</button>
        </form>
    {% endif %}

</div>

{% endblock %}
