{% from "macros.jinja2" import htmx_title %}

    <div class="content">
        <h1>400</h1>
        <p>can't really understand what you are trying to do here</p>
        <pre>{{ exc.detail }}</pre>
    </div>

{% if "PLAUSIBLE" | get_env %}
    <script>
        document.addEventListener('DOMContentLoaded', function () { plausible('400', { props: { path: prepareUrl() } }); });
    </script>
{% endif %}

{{ htmx_title(request, '400') }}