{% from "macros.jinja2" import htmx_title %}

    <div class="content">
        <h1>500</h1>
        <p>something went horribly wrong</p>
        <pre>{{ exc.detail }}</pre>
    </div>

    <script>document.addEventListener('DOMContentLoaded', function () { plausible('500', { props: { path: document.location } }); });</script>

{{ htmx_title(request, '500') }}