{% from "macros.jinja2" import nav, htmx_title, sync_notice %}
{{ sync_notice(sync_info) }}

    <div class="content" hx-boost="true" hx-target="#htmx-body" hx-swap="innerHTML show:no" hx-push-url="true">

        <div id="header">
            <h3>Solutions from {{ address_trunc }}</h3>
        </div>

        <div id="blocks">

            {{ nav(page, total_pages, "/address_solution?a=" + address + "&") }}

            <table class="unstriped">
                <thead>
                <tr>
                    <th>Block</th>
                    <th>Epoch</th>
                    <th>Timestamp</th>
                    <th>Solution ID</th>
                    <th>counter</th>
                    <th>Target / Total</th>
                    <th>Reward</th>
                </tr>
                </thead>
                <tbody>
                {% for solution in solutions %}
                    <tr>
                        <td><a href="/block?h={{ solution.height }}">{{ solution.height }}</a></td>
                        <td>{{ solution.height // 360 }}</td>
                        <td>{{ solution.timestamp | format_time | safe }}</td>
                        <td><span class="mono">{{ solution.solution_id }}</span></td>
                        <td>{{ solution.counter }}</td>
                        <td>{{ solution.target }}<span class="note"> / {{ solution.target_sum }}</span></td>
                        <td>{{ solution.reward | format_aleo_credit | safe }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ nav(page, total_pages, "/address_solution?a=" + address + "&") }}

        </div>
    </div>

{{ htmx_title(request, "Solutions from " ~ address_trunc) }}