{% from "macros.jinja2" import nav, htmx_title, sync_notice %}
{{ sync_notice(sync_info) }}

    <div class="content">

        <div id="header">
            <h3>Blocks</h3>
        </div>

        <div id="blocks" class="table-wrap">

            {{ nav(page, total_pages, "/blocks?") }}

            <table class="unstriped">
                <thead>
                <tr>
                    <th>Height</th>
                    <th>Epoch</th>
                    <th>Timestamp</th>
                    <th>Transactions</th>
                    <th>Proof target</th>
                    <th>Coinbase target</th>
                    <th>Block reward</th>
                    <th>Puzzle reward</th>
                    <th>Puzzle solutions</th>
                </tr>
                </thead>
                <tbody hx-boost="true" hx-target="#htmx-body" hx-swap="innerHTML show:no" hx-push-url="true">
                {% for block in blocks %}
                    <tr>
                        <td><a href="/block?h={{ block.height }}">{{ block.height | format_number | safe }}</a></td>
                        <td>{{ block.height // 360 }} <span class="note">{{ block.height % 360 }} / 360</span></td>
                        <td>{{ block.timestamp | format_time | safe }}</td>
                        <td>{{ block.transaction_count }}</td>
                        <td>{{ block.proof_target | format_number | safe }}</td>
                        <td>{{ block.coinbase_target | format_number | safe }}</td>
                        <td>{{ block.block_reward | format_aleo_credit | safe }}</td>
                        <td>{{ (block.coinbase_reward * 2 // 3) | format_aleo_credit | safe }}</td>
                        <td>{{ block.partial_solution_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ nav(page, total_pages, "/blocks?") }}

        </div>
    </div>

{{ htmx_title(request, "Blocks") }}