{% from "macros.jinja2" import htmx_title, sync_notice %}
{{ sync_notice(sync_info) }}

<div class="content">
    <h3>Changelog</h3>

    <h5>2024-03-02</h5>
    <ul>
        <li>Added proper error page for internal server error</li>
        <li>Optimized performance of transaction and program list pages</li>
    </ul>

    <h5>2024-02-25</h5>
    <ul>
        <li>Added validator list to block info</li>
        <li>Rebranded to Aleoscan</li>
        <li>Added basic Aleo Name Service domain search</li>
        <li>Start of changelog tracking</li>
    </ul>

</div>

{{ htmx_title(request, "Changelog") }}
