{% from "macros.jinja2" import htmx_title %}

    <div class="content">

        {% if "BETA" | get_env %}
        <div id="beta">
            <h4></h4>
        </div>
        {% endif %}

        <div id="ticker">
            <div class="grid-x grid-padding-x">
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Latest block</div>
                        <div class="cell auto ticker-cell-data">{{ latest_block.header.metadata.height | format_number | safe }}</div>
                    </div>
                </div>
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Timestamp</div>
                        <div class="cell auto ticker-cell-data timestamp-font-size">{{ latest_block.header.metadata.timestamp | format_time | safe }}</div>
                    </div>
                </div>
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Proof target</div>
                        <div class="cell auto ticker-cell-data">{{ latest_block.header.metadata.proof_target | format_number | safe }}</div>
                    </div>
                </div>
                <div class="cell large-auto ticker-cell">
                    <div class="grid-y ticker-cell-content">
                        <div class="cell ticker-cell-title">Coinbase target</div>
                        <div class="cell auto ticker-cell-data">{{ latest_block.header.metadata.coinbase_target | format_number | safe }}</div>
                    </div>
                </div>
            </div>
            {% if not "DEBUG_SKIP_COINBASE" | get_env %}
                <div class="grid-x grid-padding-x">
                    <div class="cell large-auto ticker-cell">
                        <div class="grid-y ticker-cell-content">
                            <div class="cell ticker-cell-title">Estimated network speed (15m)</div>
                            <div class="cell auto ticker-cell-data">{{ network_speed | format_number | safe }}&nbsp;<span data-tooltip title='commitments per second, also known as "p/s" or "s/s"'>c/s</span></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div id="recent-blocks">
            <h4>Recent Blocks</h4>
            <table class="unstriped">
                <thead>
                <tr>
                    <th>Height</th>
                    <th>Timestamp</th>
                    <th>Transactions</th>
                    <th>Proof target</th>
                    <th>Coinbase target</th>
                    <th>Block reward</th>
                    <th>Puzzle reward</th>
                    {% if not "DEBUG_SKIP_COINBASE" | get_env %}
                        <th>Puzzle solutions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody hx-boost="true" hx-target="#htmx-body" hx-swap="innerHTML show:no" hx-push-url="true">
                {% for block in recent_blocks %}
                    <tr>
                        <td><a href="/block?h={{ block.height }}">{{ block.height | format_number | safe }}</a></td>
                        <td>{{ block.timestamp | format_time | safe }}</td>
                        <td>{{ block.transaction_count }}</td>
                        <td>{{ block.proof_target | format_number | safe }}</td>
                        <td>{{ block.coinbase_target | format_number | safe }}</td>
                        <td>{{ block.block_reward | format_aleo_credit | safe }}</td>
                        <td>{{ (block.coinbase_reward // 2) | format_aleo_credit | safe }}</td>
                        {% if not "DEBUG_SKIP_COINBASE" | get_env %}
                            <td>{% if block.coinbase_reward %}{{ block.partial_solution_count }}{% else %}-{% endif %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{{ htmx_title(request, "Home") }}