{% from "macros.jinja2" import htmx_title, sync_notice %}
{{ sync_notice(sync_info) }}

<div class="content" hx-boost="true" hx-target="#htmx-body" hx-swap="innerHTML show:no" hx-push-url="true">
    <div class="header">
        <h3>Known nodes: {{ nodes | length }}</h3>
        Connected: {{ connected }} | Validators: {{ validators }} | Clients: {{ clients }} | Provers: {{ provers }} | Unknown: {{ unknowns }}
    </div>

    <table class="unstriped">
        <thead>
        <tr>
            <th>IP address</th>
            <th>Type</th>
            <th>Address</th>
            <th>Height</th>
            <th>Peers</th>
            <th>Last update</th>
        </tr>
        </thead>
        <tbody>
        {% set max_height = (nodes.values() | list)[0].height | int %}
        {% for address, node in nodes.items() %}
            <tr>
                <td>{{ address }}</td>
                <td>
                    {% if node.node_type is not none %}
                        {{ node.node_type }}
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
                <td><span class="mono">
                    {% if node.address %}
                        {{ node.address }}
                    {% else %}
                        -
                    {% endif %}
                </span></td>
                <td>
                    {% if node.height %}
                        {% if max_height - node["height"] > 50 %}
                            <span style="color: #cc4b37">{{ node.height }}</span>
                        {% elif max_height - node["height"] > 20 %}
                            <span style="color: #ffae00">{{ node.height }}</span>
                        {% else %}
                            {{ node.height }}
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{% if node.peer_count %}{{ node.peer_count }}{% else %}-{% endif %}</td>
                <td>{{ node.last_ping }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ htmx_title(request, "Nodes") }}