{% from "macros.jinja2" import data_line, sub_data_line, state_label_with_reason, htmx_title, sync_notice %}
{{ sync_notice(sync_info) }}

    <div class="content" hx-boost="true" hx-target="#htmx-body" hx-swap="innerHTML show:no" hx-push-url="true">
        <div class="header">
            <h3>Transaction {{ tx_id_trunc }}</h3>
        </div>

        <div id="data">
            {% call data_line("Transaction ID") %}
                <span class="mono">{{ tx_id }}</span>
            {% endcall %}
            {% if state == "Rejected" %}
                {% call data_line("Original transaction ID") %}
                    <span class="mono">{{ original_txid }}</span>
                {% endcall %}
            {% endif %}
            {% if state == "Unconfirmed" %}
                {% call data_line("First seen") %}
                    {% if not first_seen %}
                        <em>Unknown</em>
                    {% else %}
                        {{ first_seen | format_time | safe }}
                    {% endif %}
                {% endcall %}
            {% else %}
                {% set delta = block.header.metadata.timestamp - first_seen %}
                {% call data_line("Confirmed at block") %}
                    <a href="/block?h={{ block.header.metadata.height }}">{{ block.header.metadata.height | format_number | safe }}</a>
                    ({{ block.header.metadata.timestamp | format_time | safe }}{% if delta > 0 %}, confirmed in {{ delta | format_time_delta }}{% endif %})
                {% endcall %}
                {% call data_line("Index") %}
                    {{ index }}
                {% endcall %}
            {% endif %}
            {% call data_line("Type") %}
                {{ type }}
            {% endcall %}
            {% call data_line("State") %}
                {{ state_label_with_reason(state, reject_reason) }}
            {% endcall %}
            {% if type == "Execute" %}
                {% call data_line("Global state root") %}
                <span class="mono">{{ global_state_root }}</span>
                {% endcall %}
                {% call data_line("Proof") %}
                    {% if proof %}
                        <advanced-link scope="transaction" object="{{ tx_id }}" type="proof">
                            <span class="mono">{{ proof_trunc }}</span>
                        </advanced-link>
                    {% else %}
                        -
                    {% endif %}
                {% endcall %}
            {% elif type == "Deploy" %}
                {% if state == "Accepted" %}
                    {% call data_line("Edition") %}
                        {{ edition }}
                    {% endcall %}
                    {% call data_line("Deployed program ID") %}
                        <a href="/program?id={{ program_id }}"><span class="mono">{{ program_id }}</span></a>
                    {% endcall %}
                {% else %}
                    {% call data_line("Program ID") %}
                        {% if program_info.program_id %}
                            <span class="mono">{{ program_info.program_id }}</span>
                        {% else %}
                            <em>Unknown</em>
                        {% endif %}
                    {% endcall %}
                    {% call data_line("Owner") %}
                        {% if program_info.owner %}
                            <span class="mono">{{ program_info.owner }}</span>
                        {% else %}
                            <em>Unknown</em>
                        {% endif %}
                    {% endcall %}
                {% endif %}
            {% endif %}
            {% call data_line("Total fee") %}
                {{ total_fee | format_aleo_credit | safe }} Aleo credits
            {% endcall %}
            {% if type == "Execute" %}
                {% call sub_data_line("Breakdown") %}
                    <span class="box-drawing">├</span> Storage fee: {{ storage_cost | format_aleo_credit | safe }}<br>
                    <span class="box-drawing">├</span> Finalize fee: {{ finalize_costs | sum | format_aleo_credit | safe }}<br>
                    {% for cost in finalize_costs %}
                        <span class="box-drawing">│{% if loop.revindex0 == 0 %}└{% else %}├{% endif %}</span> Transition #{{ loop.index0 }}: {{ cost | format_aleo_credit | safe }}<br>
                    {% endfor %}
                    <span class="box-drawing">├</span> Priority fee: {{ priority_fee | format_aleo_credit | safe }}<br>
                    <span class="box-drawing">└</span> Burnt fee: {{ burnt_fee | format_aleo_credit | safe }}
                {% endcall %}
            {% elif type == "Deploy" %}
                {% call sub_data_line("Breakdown") %}
                    <span class="box-drawing">├</span> Storage fee: {{ storage_cost | format_aleo_credit | safe }}<br>
                    <span class="box-drawing">├</span> Namespace fee: {{ namespace_cost | format_aleo_credit | safe }}<br>
                    <span class="box-drawing">├</span> Priority fee: {{ priority_fee | format_aleo_credit | safe }}<br>
                    <span class="box-drawing">└</span> Burnt fee: {{ burnt_fee | format_aleo_credit | safe }}
                {% endcall %}
            {% endif %}
        </div>

        <ul class="tabs" data-tabs id="transaction-tabs">
            <li class="tabs-title is-active"><a href="#transitions">Transitions</a></li>
        {% if state != "Unconfirmed" %}
            <li class="tabs-title"><a href="#mapping-operations">Mapping operations</a></li>
            {% if type == "Execute" %}<li class="tabs-title"><a href="#finalize-graph">Finalize call graph</a></li>{% endif %}
        {% endif %}
        </ul>

        <div class="tabs-content" data-tabs-content="transaction-tabs">
            <div class="tabs-panel is-active" id="transitions">
                {% if type == "Deploy" %}<h4>Fee transition</h4>{% endif %}
                <table id="transitions-table" class="unstriped">
                    <thead>
                    <tr>
                        <td>Index</td>
                        <td>Transition ID</td>
                        <td>Program / Function call</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transition in transitions %}
                        <tr>
                            <td>{{ loop.index0 }}</td>
                            <td>
                                <span class="mono"><a href="/transition?id={{ transition.transition_id }}">{{ transition.transition_id }}</a></span>
                            </td>
                            <td><span class="mono">{{ transition.action }}</span></td>
                        </tr>
                    {% endfor %}
                    {% if fee_transition %}
                        <tr>
                            <td>Fee</td>
                            <td>
                                <span class="mono"><a href="/transition?id={{ fee_transition.transition_id }}">{{ fee_transition.transition_id }}</a></span>
                            </td>
                            <td><span class="mono">{{ fee_transition.action }}</span></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                {% if state == "Rejected" %}
                    <div id="rejected-transitions">
                        <h4>Rejected Transitions</h4>
                        <table id="transitions-table" class="unstriped">
                            <thead>
                            <tr>
                                <td>Index</td>
                                <td>Transition ID</td>
                                <td>Program / Function call</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transition in rejected_transitions %}
                                <tr>
                                    <td>{{ loop.index0 }}</td>
                                    <td>
                                        <span class="mono"><a href="/transition?id={{ transition.transition_id }}">{{ transition.transition_id }}</a></span>
                                    </td>
                                    <td><span class="mono">{{ transition.action }}</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>

        {% if state != "Unconfirmed" %}

        {% if type == "Execute" %}
            <div class="tabs-panel" id="finalize-graph">
                Coming soon
            </div>
        {% endif %}

            <div class="tabs-panel" id="mapping-operations">
                {% if mapping_operations == None %}
                    Server error occured when searching for mapping operations
                {% elif not mapping_operations %}
                    Transaction did not execute any mapping operations
                {% else %}
                    <table class="unstriped">
                    <thead>
                    <tr>
                        <td>Program</td>
                        <td>Mapping</td>
                        <td>Before</td>
                        <td>After</td>
                    </thead>
                    <tbody>
                    {% for op in mapping_operations %}
                        <tr style="word-break: break-all">
                            <td><a href="/program?id={{ op.program_id }}">{{ op.program_id }}</a></td>
                            <td><span class="mono">{{ op.mapping_name }}[{{ op.key }}]</span></td>
                            <td><span class="mono">{% if op.previous_value %}{{ op.previous_value }}{% else %}<em>[new]</em>{% endif %}</span></td>
                            <td><span class="mono">{% if op.value %}{{ op.value }}{% else %}<em>[removed]</em>{% endif %}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                {% endif %}
            </div>
        {% endif %}

        </div>

    </div>

{{ htmx_title(request, "Transaction " ~ tx_id_trunc) }}