@font-face {
    font-family: 'Open Sans';
    src: url('/static/opensans-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/opensans-bolditalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/opensans-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/opensans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    color: #111;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

.title-logo {
    display: inline-block;
    height: 1.5rem;
    width: 8.375rem;
    background-image: url("data:image/svg+xml,%3Csvg width='134' height='24' viewBox='0 0 134 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.7363 19.8293V4H51.0643V19.8293H47.7363ZM83.2977 19.6159C84.3928 19.9288 85.5377 20.0852 86.7323 20.0852C88.1546 20.0852 89.3279 19.8719 90.2523 19.4452C91.191 19.0186 91.895 18.4568 92.3643 17.7599C92.8337 17.063 93.0683 16.295 93.0683 15.4559C93.0683 14.6737 92.9048 14.0266 92.5777 13.5146C92.2648 13.0026 91.8523 12.5901 91.3403 12.2772C90.8283 11.9643 90.2595 11.7154 89.6337 11.5306C89.0221 11.3457 88.4035 11.1821 87.7777 11.0399C87.1661 10.8977 86.6043 10.7554 86.0923 10.6132C85.5803 10.471 85.1679 10.2861 84.855 10.0586C84.5421 9.81678 84.3857 9.50389 84.3857 9.11989C84.3857 8.79278 84.4781 8.50834 84.663 8.26656C84.8479 8.01056 85.1537 7.80434 85.5803 7.64789C86.007 7.49145 86.5546 7.41323 87.223 7.41323C87.8915 7.41323 88.5741 7.51278 89.271 7.71189C89.9679 7.89678 90.6648 8.18834 91.3617 8.58656L92.4283 5.96256C91.7315 5.52167 90.9279 5.19456 90.0177 4.98123C89.1075 4.75367 88.183 4.63989 87.2443 4.63989C85.8363 4.63989 84.663 4.85323 83.7243 5.27989C82.7999 5.69234 82.103 6.25411 81.6337 6.96523C81.1786 7.66211 80.951 8.43723 80.951 9.29056C80.951 10.087 81.1075 10.7412 81.4203 11.2532C81.7475 11.7652 82.167 12.1777 82.679 12.4906C83.191 12.8034 83.7528 13.0594 84.3643 13.2586C84.9901 13.4577 85.6088 13.6283 86.2203 13.7706C86.8461 13.8986 87.415 14.0408 87.927 14.1972C88.439 14.3394 88.8515 14.5314 89.1643 14.7732C89.4772 15.0008 89.6337 15.3137 89.6337 15.7119C89.6337 16.0248 89.5341 16.3021 89.335 16.5439C89.1359 16.7857 88.823 16.9777 88.3963 17.1199C87.9839 17.2479 87.4363 17.3119 86.7537 17.3119C85.8577 17.3119 84.9688 17.1697 84.087 16.8852C83.2195 16.5866 82.4657 16.2097 81.8257 15.7546L80.6523 18.3572C81.3208 18.8692 82.2026 19.2888 83.2977 19.6159ZM114.839 18.4031V19.8293H117.954V13.2799C117.954 11.5306 117.471 10.2435 116.503 9.41861C115.536 8.59372 114.178 8.18127 112.429 8.18127C111.519 8.18127 110.623 8.30216 109.741 8.54394C108.859 8.78572 108.105 9.12705 107.479 9.56794L108.674 11.8933C109.087 11.5662 109.584 11.3102 110.167 11.1253C110.765 10.9262 111.369 10.8266 111.981 10.8266C112.877 10.8266 113.538 11.0257 113.965 11.4239C114.406 11.8222 114.626 12.3768 114.626 13.0879H111.981C110.815 13.0879 109.869 13.2373 109.143 13.5359C108.418 13.8204 107.885 14.2186 107.543 14.7306C107.216 15.2426 107.053 15.8399 107.053 16.5226C107.053 17.1768 107.223 17.7671 107.565 18.2933C107.906 18.8195 108.397 19.2391 109.037 19.5519C109.677 19.8506 110.445 19.9999 111.341 19.9999C112.351 19.9999 113.175 19.8079 113.815 19.4239C114.247 19.1647 114.589 18.8244 114.839 18.4031ZM114.626 16.2026V15.0293H112.343C111.561 15.0293 111.021 15.1573 110.722 15.4133C110.438 15.6693 110.295 15.9893 110.295 16.3733C110.295 16.7999 110.459 17.1413 110.786 17.3973C111.127 17.6391 111.59 17.7599 112.173 17.7599C112.727 17.7599 113.225 17.6319 113.666 17.3759C114.107 17.1057 114.427 16.7146 114.626 16.2026ZM130.375 8.73606C129.664 8.36629 128.853 8.1814 127.943 8.1814C126.961 8.1814 126.087 8.38762 125.319 8.80006C124.866 9.04331 124.475 9.3484 124.145 9.71533V8.35206H120.967V19.8294H124.295V14.1547C124.295 13.4436 124.409 12.8605 124.636 12.4054C124.878 11.9503 125.205 11.6161 125.617 11.4027C126.044 11.1752 126.521 11.0614 127.047 11.0614C127.786 11.0614 128.355 11.2818 128.753 11.7227C129.166 12.1636 129.372 12.8463 129.372 13.7707V19.8294H132.7V13.2587C132.7 12.0925 132.494 11.1396 132.081 10.4001C131.669 9.64629 131.1 9.09162 130.375 8.73606ZM100.742 20.0001C99.5045 20.0001 98.4022 19.7512 97.4351 19.2534C96.468 18.7414 95.7071 18.0374 95.1525 17.1414C94.612 16.2454 94.3418 15.2285 94.3418 14.0907C94.3418 12.9387 94.612 11.9218 95.1525 11.0401C95.7071 10.1441 96.468 9.44717 97.4351 8.9494C98.4022 8.4374 99.5045 8.1814 100.742 8.1814C101.951 8.1814 103.003 8.4374 103.899 8.9494C104.795 9.44717 105.456 10.1654 105.883 11.1041L103.302 12.4907C103.003 11.9503 102.626 11.5521 102.171 11.2961C101.73 11.0401 101.247 10.9121 100.72 10.9121C100.152 10.9121 99.6396 11.0401 99.1845 11.2961C98.7294 11.5521 98.3667 11.9147 98.0965 12.3841C97.8405 12.8534 97.7125 13.4223 97.7125 14.0907C97.7125 14.7592 97.8405 15.3281 98.0965 15.7974C98.3667 16.2667 98.7294 16.6294 99.1845 16.8854C99.6396 17.1414 100.152 17.2694 100.72 17.2694C101.247 17.2694 101.73 17.1485 102.171 16.9067C102.626 16.6507 103.003 16.2454 103.302 15.6907L105.883 17.0987C105.456 18.0232 104.795 18.7414 103.899 19.2534C103.003 19.7512 101.951 20.0001 100.742 20.0001ZM73.0744 20.0001C71.8513 20.0001 70.7633 19.7441 69.8104 19.2321C68.8718 18.7201 68.1251 18.0232 67.5704 17.1414C67.03 16.2454 66.7598 15.2285 66.7598 14.0907C66.7598 12.9387 67.03 11.9218 67.5704 11.0401C68.1251 10.1441 68.8718 9.44717 69.8104 8.9494C70.7633 8.4374 71.8513 8.1814 73.0744 8.1814C74.2833 8.1814 75.3642 8.4374 76.3171 8.9494C77.27 9.44717 78.0167 10.137 78.5571 11.0187C79.0975 11.9005 79.3678 12.9245 79.3678 14.0907C79.3678 15.2285 79.0975 16.2454 78.5571 17.1414C78.0167 18.0232 77.27 18.7201 76.3171 19.2321C75.3642 19.7441 74.2833 20.0001 73.0744 20.0001ZM73.0744 17.2694C73.6291 17.2694 74.1269 17.1414 74.5678 16.8854C75.0087 16.6294 75.3571 16.2667 75.6131 15.7974C75.8691 15.3138 75.9971 14.745 75.9971 14.0907C75.9971 13.4223 75.8691 12.8534 75.6131 12.3841C75.3571 11.9147 75.0087 11.5521 74.5678 11.2961C74.1269 11.0401 73.6291 10.9121 73.0744 10.9121C72.5198 10.9121 72.022 11.0401 71.5811 11.2961C71.1402 11.5521 70.7847 11.9147 70.5144 12.3841C70.2584 12.8534 70.1304 13.4223 70.1304 14.0907C70.1304 14.745 70.2584 15.3138 70.5144 15.7974C70.7847 16.2667 71.1402 16.6294 71.5811 16.8854C72.022 17.1414 72.5198 17.2694 73.0744 17.2694ZM56.3941 19.2321C57.3897 19.7441 58.5417 20.0001 59.8501 20.0001C60.8883 20.0001 61.8057 19.8436 62.6021 19.5307C63.3986 19.2036 64.0599 18.7414 64.5861 18.1441L62.8154 16.2241C62.4314 16.5938 62.0048 16.8712 61.5354 17.0561C61.0803 17.241 60.547 17.3334 59.9354 17.3334C59.2528 17.3334 58.6554 17.2125 58.1434 16.9707C57.6457 16.7147 57.2546 16.3521 56.9701 15.8827C56.8229 15.6194 56.7159 15.3349 56.6488 15.0294H65.3328C65.347 14.8872 65.3612 14.7378 65.3754 14.5814C65.3897 14.4107 65.3968 14.2614 65.3968 14.1334C65.3968 12.8961 65.1337 11.8365 64.6075 10.9547C64.0812 10.0587 63.363 9.37606 62.4528 8.90673C61.5568 8.42317 60.547 8.1814 59.4235 8.1814C58.2572 8.1814 57.2119 8.4374 56.2874 8.9494C55.363 9.44717 54.6306 10.1441 54.0901 11.0401C53.5639 11.9218 53.3008 12.9387 53.3008 14.0907C53.3008 15.2285 53.571 16.2454 54.1114 17.1414C54.6519 18.0232 55.4128 18.7201 56.3941 19.2321ZM56.6104 13.0881H62.2624C62.2085 12.7265 62.1013 12.3994 61.9408 12.1067C61.699 11.6658 61.3648 11.3245 60.9381 11.0827C60.5114 10.8267 60.0137 10.6987 59.4448 10.6987C58.8759 10.6987 58.371 10.8267 57.9301 11.0827C57.5034 11.3245 57.1692 11.673 56.9275 12.1281C56.7714 12.4125 56.6658 12.7325 56.6104 13.0881ZM36.3318 4.896L29.6758 19.8293H33.2171L34.5479 16.6293H41.4702L42.7958 19.8293H46.4224L39.7451 4.896H36.3318ZM38.0158 8.29012L40.3833 14.0053H35.6391L38.0158 8.29012Z' fill='black'/%3E%3Cpath d='M19.7333 24H23.7333L15.7333 0H11.7333H8L0 24H7.73333L9.06534 20H14.4013L13.0653 16H10.4013L13.7333 6L19.7333 24Z' fill='%231DA1F2'/%3E%3C/svg%3E");
}

.title-network-indicator-container {
    margin: auto 0 auto 0.5rem;
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4cffc;
    border-radius: 1.25rem;
}

.title-network-indicator-name {
    display: inline-block;
    /*font-weight: 600;*/
    font-size: 0.75rem;
    line-height: 1rem;
}


.global-banner {
    margin-bottom: 0 !important;
}

.container {
    margin: 0 20px;
}

.content {
    max-width: 1280px;
    margin: auto;
    padding: 8px;
    font-size: 0.95rem;
}

.footer-container {
    padding: 0 8px;
}

.footer {
    max-width: 1280px;
    margin: auto;
    padding: 8px;
    font-size: 0.9rem;
}

.settings {
    max-width: 1280px;
    margin: auto;
    padding: 32px 8px 8px 8px;
    font-size: 0.9rem;
}

#search {
    width: 100%;
}

.menubar {
    max-width: 1280px;
    flex: 1 1 auto;
    margin: auto;
    display: flex;
    padding: 0 8px;
}

@media (max-width: 640px) {
    .menubar {
        flex-wrap: wrap;
    }
}

.menubar .dropdown > li > a {
    margin-top: 2px;
    margin-bottom: -2px;
}

.top-bar-right {
    width: 35%;
}

.menu .menu-text {
    padding-left: 0;
}

.top-bar input {
    max-width: 100%;
}
.input-group {
    margin-bottom: 0;
}

.mono {
    font-family: Hack, monospace;
    font-size: 0.825rem;
}

.note {
    font-size: 0.75rem;
    color: #999;
}

.data-line {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}

.sub-data-line {
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}

.data-line-value {
    overflow-wrap: break-word;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.pagination {
    display: inline-block;
}

#goto {
    display: inline-block;
}

#goto input {
    height: 2rem;
    width: 50px;
}

.number-separator {
    user-select: none;
    -webkit-user-select: none;
}

input:not([type]) {
    height: 2rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    appearance: none;
}

input:not([type]):focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

#ticker {
    margin-top: 20px;
}

#recent-blocks {
    margin-top: 20px;
}

.ticker-cell-content {
    height: 64px;
    margin: 8px 0;
}

.ticker-cell-data {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.ticker-cell-data-note {
    font-size: 1rem;
    color: #999;
}

[data-tippy-content] {
    cursor: help;
    text-decoration: underline dotted;
}

.timestamp-font-size {
    font-size: 1.3rem;
}

#data {
    margin: 20px 4px;
}

.text-alert {
    color: #cc4b37;
}

.sup {
    font-size: 1rem;
    vertical-align: super;
}

table {
    margin-top: 10px;
}

.table-wrap.tabs-panel.is-active {
    display: block;
    overflow-x: auto;
}

.table-wrap:not(.tabs-panel) {
    display: block;
    overflow-x: auto;
}

pre {
    font-size: 0.825rem;
    background-color: #f8f8f8;
    padding: 10px;
    overflow-y: scroll;
    max-height: 800px;
}

.tabs {
    margin-top: 20px;
}

.tabs-title > a {
    font-size: 0.9em;
    padding: 0.75rem;
}

#read input[type="submit"] {
    padding: 8px;
}

#read input:not([type]), #read input[type="text"] {
    font-size: 0.85rem !important;
    font-family: Hack, monospace !important;
}

#rejected-transitions {
    margin-top: 20px;
}

.box-drawing {
    font-family: "MS Gothic", "AppleGothic", "Hiragino Maru Gothic ProN", "SimSun", monospace;
}

.data {
    margin: 20px 4px;
}

#wallet-connect-button {
    margin-bottom: 0;
}

#wallet-connect-text {
    margin-left: 8px;
}

.decrypted {
    color: green;
}

textarea {
    font-family: Hack, monospace;
    height: 400px;
}

.mono-only {
    font-family: Hack, monospace;
}

code, pre {
    font-family: Hack, monospace;
}

.htmx-indicator {
    display: block;
    opacity: 1 !important;
}

.htmx-request.htmx-indicator {
    opacity: 0.4 !important;
}

.fa-regular {
    margin-left: 0.5em;
    color: #999;
}

.block-validator > a {
    margin: 0 0.25em 0.25em 0;
    padding: 2px 8px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
}

.block-validator > a:has(.yes) {
    border-color: green;
}

.block-validator > a:has(.no) {
    border-color: darkred;
}

.block-validator > a > .yes {
    color: green;
}

.block-validator > a > .no {
    color: darkred;
}

.block-validator {
    max-height: 6em;
    overflow: hidden;
    position: relative;
}

.block-validator-expand {
    position: absolute;
    top: 3rem;
    height: 3rem;
    width: 100%;
    display: flex;
    pointer-events: none;
    background:
        linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.95) 75%,
            rgba(255, 255, 255, 1)
        );
}

.block-validator-expand span {
    align-self: flex-end;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    cursor: pointer;
    pointer-events: auto;
}

.label .mono {
    font-size: 0.8rem;
}